/**
 * block.css
 * @author Benjamin Rösler
 * @version 0.1
 **/

div.block {
	margin: 1em 0 0 0;
}

div.block > div {
	margin: 0.5em;
	padding: 0 0.5em;
}

div.block > div > h3 {
	border: solid 1px black;
	background: #E88712;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	padding: 0 0.5em;
}

div.block > div > div {
	border: solid 1px black;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	padding: 0.5em;
}

div.block > div > div > ul {
	margin: 0 1.5em;
}
