/**
 * columns.css
 * @author Benjamin Rösler
 * @version 0.1
 **/

.f30l {
	float: left;
	width: 30%;
}

.f50l {
	float: left;
	width: 50%;
}

.f70l {
	float: left;
	width: 70%;
}

.f30r {
	float: right;
	width: 30%;
}

.f50r {
	float: right;
	width: 50%;
}

.f70r {
	float: right;
	width: 70%;
}

.wrapper {
	width: 100%;
}

.clear {
	clear: both;
	width: 0;
}
