/**
 * forms.css
 * @author Benjamin Rösler
 * @version 0.1
 **/

label {
	display: block;
	margin: 2px 0;
	padding: 0.2em 0 0 0;
	width: 100%;
}

input,
select {
	width: 100%;
	padding: 0.2em;
}

input[type="text"],
input[type="password"] {
	box-sizing: border-box;
}

button {
	padding: 0.2em;
}

.FormFieldButtonGroup {
	text-align: right;
}
