/**
 * messages.css
 * @author Benjamin Rösler
 * @version 0.1
 **/

div.messages ul {
	border: 1px solid;
	border-radius: 0.5em;
	margin: 0.5em 0;
	padding: 0 0.5em;
	background-repeat: no-repeat;
	background-position: 0.5em center;
}

div.messages ul li {
	margin: 0.5em 0.5em 0.5em 1.5em;
}

div.messages ul.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('/themes/default/images/error.png');
}

div.messages ul.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('/themes/default/images/warning.png');
}

div.messages ul.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('/themes/default/images/info.png');
}

div.messages ul.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('/themes/default/images/success.png');
}
