/**
 * navigation.css
 * @author Benjamin Rösler
 * @version 0.1
 **/

div#nav {
	background: #FFC700;
	padding: 0.2em 1em;
	height: 1em;
}

div#nav > ul > li {
	display: inline-block;
}

div#nav > ul > li > a {
	padding: 0 0.5em;
}
