/**
 * page.css
 * @author Benjamin Rösler
 * @version 0.1
 **/

div#page {
	margin: 0 auto;
	width: 768px;
}

div#head {
	padding: 0 1.5em;
	background: #E88712;
}

div#content {
	padding: 1em 0;
}

div#content > h2 {
	margin-bottom: 1em;
}

div#foot {
	padding: 0 1.5em;
	background: #E88712;
	border-top: solid 1.4em #FFC700;
}
