/**
 * tables.css
 **/

table {
	width: 100%;
	border-spacing: 0;
	margin: 0 0.2em 0 0;
}

thead tr th:first-child {
	border-left: solid 2px black;
	border-top: solid 2px black;
	border-right: solid 1px black;
	border-bottom: solid 2px black;
	border-top-left-radius: 0.5em;
}

thead tr th {
	border-top: solid 2px black;
	border-right: solid 1px black;
	border-bottom: solid 2px black;
	margin: 0;
	background: #E88712;
	padding: 0.2em 0.5em;
}

thead tr th:last-child {
	border-top: solid 2px black;
	border-right: solid 2px black;
	border-bottom: solid 2px black;
	border-top-right-radius: 0.5em;
}

tbody tr:nth-child(even){
	background: #FFC700;
}

tbody tr td:first-child {
	border-left: solid 2px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}

tbody tr td {
	border-right: solid 1px black;
	border-bottom: solid 1px black;
	padding: 0.2em 0.5em;
}

tbody tr td:last-child {
	border-bottom: solid 1px black;
	border-right: solid 2px black;
}

tbody tr:last-child td {
	border-bottom: solid 2px black;
}

